
  {% extends 'base.html' %}
  {% block content %}
  
  
<style>

  body{
    background-color:lightgray;
  }
  .col-lg-4{
    background-color:rgb(226, 164, 105);
    font-weight: 600;
    color: white !important;
  }
  #id_password{
    margin-left:11%;
  }

  input{
    margin-left:10%;
  }

  
  </style>


  <div class="container pt-4">
    <div class="col-lg-4 mx-auto shadow p-0 mt-4">
      <div class="alert alert-info">
        <h2>Login Here</h2>
      </div>
      <div class="p-4">
        <form action="/login/" method="POST">
          {% csrf_token %}
          {{form.as_p}}
          <hr>
          <input type="submit" value="Login" class="btn btn-info">
        </form>
      </div>
    </div>
  </div>
  {% endblock %}


  