
  
   {% extends 'base.html' %}
{% block content %}

<style>

  body{
    background-color:rgb(78, 121, 122)
  }
  .helptext{
    visibility: hidden;
    display:none;
  }
  .col-lg-5{
    background-color:lightseagreen;
    font-weight: 600;
    color: white !important;
  }
  
  form ul li{
    display:none;
  }
  #id_password1{
    margin-left:6rem;
  }
  #id_username{
    margin-left:6rem;
  }
  
  </style>



{% if form.errors %}
<div class="alert alert-danger alert-dismissible col-12 mx-1" role="alert">
    <div id="form_errors">
        {% for key, value in form.errors.items %}
            <span class="fieldWrapper">
                {{ key }}:{{ value }}
            </span>
        {% endfor %}
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<div class="containter pt-4">
  <div class="col-lg-5 shadow  mx-auto p-0">
    <div class="alert alert-success">
      <h2>Create Account</h2>
    </div>
    <div class="p-4">
      <form method="post" action="/signup/" >
        {% csrf_token %}
        {{ form.as_p }}
        <hr>
        <input class="btn btn-success" type="submit" value="Create Account">
      </form>
    </div>
  </div>
</div>

{% endblock %}